.currency-block {
    display: flex;
    background-color: #373e45;
}

.currency {
    padding: 0 1em;
    color: white;
}

.uah-currency {
    color: greenyellow;
}

.other-currency {
    color: red;
}